.idea/
.ipynb_checkpoints/
__pycache__/

bacteriocin_papers/

code_modules/__pycache__/
code_modules/fastDNA/
code_modules/mmseqs_clustering/
code_modules/saved_models/
code_modules/IGC_analysis/__pycache__/
code_modules/word2vec_imputation/__pycache__/

code_modules/word2vec_clustering/__pycache__/
code_modules/word2vec_clustering/.ipynb_checkpoints/
code_modules/word2vec_clustering/PLS_coeff_ranking_descending_12Jun_14-22.txt
code_modules/word2vec_clustering/PLS_coeff_ranking_descending_12Jun_16-11.txt
code_modules/word2vec_clustering/PLS_col_ranking_13Jun_15-45.txt
code_modules/word2vec_clustering/kmers_ipca.csv

code_modules/miscellaneous/perceptron_understanding.py
code_modules/miscellaneous/compare_word2vec_models.py
code_modules/miscellaneous/classifier_weight_analysis.py

data/atchley_kmers.csv
data/bactibase/bactibase021419.csv
data/bagel/bagel021419.csv
data/bagel/bagel021419.csv.fasta
data/bagel/bagel021419.csv.labels
data/camp/
data/haloalkanes/
data/shortCompleteUniquegenes/
data/uniprot/
data/IGC/
data/Sequence_Based_Features_Extraction.html
data/elmo_model_uniref50/options.json
data/elmo_model_uniref50/weights.hdf5

plots/bacteriocins_w2v_clustered.png
plots/CAMP_w2v_clustering_plots
plots/CV_score_Animalia_Viridiplantae_4869mmseqs.png
plots/CV_score_Animalia_Viridiplantae_7318.png
plots/CV_score_DNI_DNR_11915mmseqs\ (copy).png
plots/CV_score_DNI_DNR_11915mmseqs.png
plots/CV_score_GLY_LIP_3096mmseqs.png
plots/CV_score_ground_ocean_97.png
plots/old
plots/shortdnaDB_w2v_clustering_plots
plots/sliding_window_plots
plots/test_set_score_Animalia_Viridiplantae_4869mmseqs.png
plots/test_set_score_Animalia_Viridiplantae_7318.png
plots/test_set_score_DNI_DNR_11915mmseqs\ (copy).png
plots/test_set_score_DNI_DNR_11915mmseqs.png
plots/test_set_score_ground_ocean_97.png


presentations/mani_group_retreat_lasse.pdf
presentations/mani_group_retreat_lasse.pptx
presentations/start-up_exercise_lasse.pptx

code_modules/nn_training/BIDGRU_GLY_LIP_len3096/csv_logs
code_modules/nn_training/BIDGRU_GLY_LIP_len3096/encoding_dumps
code_modules/nn_training/BIDGRU_GLY_LIP_len3096/logs
code_modules/nn_training/BIDGRU_GLY_LIP_len3096/all_training_logs_in_one_file.csv
code_modules/nn_training/BIDGRU_GLY_LIP_len3096/BIDGRU_GLY_LIP_len3096_result.csv
data/trte_splits/
data/hamid_reproduction/hamid_negative_set_unfiltered.tab
code_modules/data_preprocessing/__pycache__/
code_modules/nn_training/load_mnist.py

code_modules/nn_training/BAC_UNI_len2006/BAC_UNI_len2006_elmo_result.png
code_modules/nn_training/BAC_UNI_len2006/BAC_UNI_len2006_elmo_vs_w2v_result.png
data/refseq/all_bacteria_genome_names.txt
data/refseq/refseq_assembly_hierachy
code_modules/nn_training/BAC_UNI_len2006/encoding_dumps/
data/refseq/processed_refseq/
code_modules/nn_training/application/results/

paper/todo.txt
paper/thesis.aux
paper/thesis.bbl
paper/thesis.blg
paper/thesis.log
paper/thesis.synctex.gz

data/sberro_small_genes/

paper/test_land.py
paper/thesis.toc

/presentations/thesis_group_presentation.pptx
/presentations/defense/.~lock.thesis_group_presentation.pptx#
presentations/defense/kommentarer_TIL_speciale.txt
